:root {
  --backgroundColor: #0a192f;
  --greenColor: #64ffda;
  --whiteColor: #ccd6f6;
  --paleWhiteColor: #8892b0;
  --light-navy: #112240;
  --hover: #233554;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
